<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <script src="/js/jq_171.js"></script>
</head>
<body>
<div class="container">
    <%-include('../inc/nav.html')%>
    <%-include('../inc/alert.html')%>
    <%=billType%>
    <form action="<%=action%>" method="post">
        <input type="text" placeholder="请输入消费类型" name="billType"/>
        <button class="button">增加</button>
    </form>
</div>
</body>
</html>