<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <script src="/js/jq_171.js"></script>
</head>
<body>
<div class="container">
    <%-include('../inc/nav.html')%>
    <%-include('../inc/alert.html')%>
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="table-responsive">
                <form action="<%=action%>" method="post" class="form-inline">
                    <input type="text" placeholder="请输入消费类型" name="billType" class="form-control"/>
                    <button type="button"  class="btn btn-primary">增加</button>
                </form>
            </div>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item active">
            <h4 class="list-group-item-heading">
                已有类型
            </h4>
        </li>
    <%if(billTypes.length > 0){%>
        <%billTypes.forEach(function(billtypes,index){%>
        <li class="list-group-item" data-index="<%=index%>"><%=billtypes.billtype%></li>
        <%})%>
    <%}else{%>
        <li class="list-group-item">没有自定义消费类型</li>
    <%}%>
    </ul>
</div>
<%-include('../inc/footer.html')%>
</body>
</html>